@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #121212;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 높이를 100%로 설정 */
}

.container {
  width: 100%;
  max-width: 400px;
  height: 600px;
  background-color: #181818;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #1db954;
}
h2 {
  font-size: 22px;
  margin-bottom: 30px;
}
p {
  color: #a0a0a0;
  font-size: 14px;
  margin-bottom: 40px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background-color: #282828;
  border-radius: 3px;
  margin-bottom: 40px;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  background-color: #1db954;
  border-radius: 3px;
}

.btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #282828;
  color: white;
  border: 2px solid transparent;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: #333333;
  border-color: #1db954;
  transform: scale(1.02);
}

.btn-main {
  background-color: #1db954;
  color: #121212;
  font-weight: bold;
  border: none;
  margin-top: 50px;
}
.btn-main:hover {
  background-color: #1ed760;
}

.btn-login {
  background: transparent;
  color: #a0a0a0;
  border: 1px solid #333333;
  padding: 12px;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-login:hover {
  color: white;
  border-color: #1db954;
  background-color: #282828;
}

.album-cover {
  width: 250px;
  height: 250px;
  background-color: #282828;
  border-radius: 15px;
  margin: 0 auto 20px;
  display: block;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* 홈화면 앨범 셔플 */
.album-shuffle-container {
  margin: 30px auto;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  animation: floatBounce 3s infinite ease-in-out;
}

.album-shuffle-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes floatBounce {
  /* 앨범 플로트 */
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
